{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
  <div class="user_delete">
    Уверены, что хотите {% if user_to_delete.is_active %}деактивировать{% else %}активировать{% endif %} {{ user_to_delete.username }}
    {% if user_to_delete.first_name %}
      ({{ user_to_delete.first_name|title }}</b>
      {% if user_to_delete.last_name %}
        {{ user_to_delete.last_name|title }}
      {% endif %})
    {% endif %}
    ?
    <form action="{% url 'adminapp:user_delete' user_to_delete.pk %}"
          method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="{% if user_to_delete.is_active %}деактивировать{% else %}активировать{% endif %}">
    </form>
      <a href="{% url 'adminapp:users' %}" class="btn btn-success">
        Отмена
      </a>
  </div>
{% endblock %}