{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}
{{ title|title }}
{% endblock %}
{% block main%}
<div id="tooplate_main"><span class="main_border main_border_t"></span><span class="main_border main_border_b"></span>

    <div class="col col_2">
        <h3>About HTML CSS Template</h3>
        <p>Proin ornare euismod neque at mollis. Donec gravida magna non risus bibendum fermentum et ut turpis. Nulla
            suscipit nunc nec urna ullamcorper bibendum. Maecenas non nibh purus, vitae volutpat metus. </p>
        <p>In hendrerit leo id arcu interdum imperdiet. Aenean aliquam lectus sed arcu auctor ornare. Pellentesque
            lacinia lorem sit amet sapien condimentum tincidunt. Praesent orci sem, mollis et rhoncus nec, lacinia nec
            arcu.</p>
    </div>

    <div class="col col_2">
        <h3>Cras faucibus tempus lorem</h3>
        <p>Duis commodo sapien sed lorem aliquet gravida sed vitae odio. Nullam placerat mi non lectus tincidunt non
            condimentum felis porta. Ut sit amet justo risus. Cras faucibus tempus lorem.
        <p>Maecenas id libero mauris, eu consectetur nisi. Ut eu orci vel magna consequat pretium id a odio. Suspendisse
            arcu diam, varius a malesuada vestibulum, sollicitudin lobortis lectus.
    </div>

    <hr/>

    <div class="col col_3">
        <h3>Clothing Template</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dolor nibh, varius at posuere et, ornare vitae
        nunc. Etiam at tellus et leo rutrum imperdiet sed sit amet sem.
    </div>
    <div class="col col_3">
        <h3>Cum sociis natoque </h3>
        Suspendisse pharetra, sapien sit amet faucibus luctus, sem odio molestie felis, quis eleifend lectus mi vitae
        dui. Nullam viverra mattis est, eget mollis eros suscipit et.
    </div>

    <div class="col col_3">
        <h3>Sed porttitor rhoncus</h3>
        Sed porttitor rhoncus libero, vulputate rutrum tellus convallis ac. Morbi dictum, metus ultrices auctor
        interdum, enim mauris posuere tellus, at tempus eros ante ac ipsum.
    </div>

    <hr/>

    <div class="col col_32">
        <h3>Pellentesque sed mi vitae</h3>
        Mauris consectetur, justo eu laoreet hendrerit, leo mauris consectetur turpis, id posuere metus tellus non
        mauris. Morbi quis risus eu dolor interdum pellentesque. Ut elit orci, faucibus a dictum nec, vulputate vel leo.
        Pellentesque sed mi vitae eros vehicula gravida vitae vitae lectus.
    </div>

    <div class="col col_3">
        <h3>Ut eu eros sed</h3>
        Phasellus vitae dui id metus mattis placerat sit amet et odio. Pellentesque vitae erat ante, sit amet adipiscing
        lectus.
    </div>

    <hr/>

    <div class="col col_4">
        <h3>Sed et tincidunt </h3>
        Mauris in nulla sapien, vitae blandit quam. In vel lacus vitae leo euismod dapibus sit amet et arcu. Sed et
        tincidunt eros.
    </div>
    <div class="col col_4">
        <h3>Aliquam malesuada</h3>
        Curabitur pellentesque arcu in elit faucibus nec sollicitudin ligula hendrerit. Sed sed felis ac tortor
        convallis accumsan.
    </div>
    <div class="col col_4">
        <h3>Suspendisse at nibh</h3>
        Aliquam malesuada sodales ante, sit amet molestie tellus tempus vel. Ut tincidunt arcu nisi, ac iaculis sem.
        Pellentesque vitae.
    </div>
    <div class="col col_4">
        <h3>Nulla congue urna</h3>
        Aliquam mollis, ipsum id rhoncus pharetra, erat nunc vestibulum turpis, ultricies viverra nulla felis adipiscing
        est.
    </div>

    <hr/>

    <div class="col col_4">
        <h3> Sed porttitor </h3>
        Nulla bibendum arcu nec est aliquet posuere. Sed porttitor rhoncus libero, vulputate rutrum tellus convallis ac
        enim.
    </div>
    <div class="col col_43">
        <h3>Aenean aliquam lectus sed</h3>
        Fusce non metus non libero sollicitudin pulvinar non nec libero. Ut magna elit, rhoncus id ullamcorper et,
        varius id purus. Proin ornare euismod neque at mollis. Donec gravida magna non risus bibendum fermentum et ut
        turpis. Nulla suscipit nunc nec urna ullamcorper bibendum. Maecenas non nibh purus, vitae volutpat metus. In
        hendrerit leo id arcu interdum imperdiet. Aenean aliquam lectus sed arcu auctor ornare.
    </div>

    <div class="clear"></div>
</div> <!-- END of main -->
{% endblock %}
