{% extends 'mainapp/base.html' %}
{% load static %}
{% load my_tags %}
{% block title %}
{{ title|title }}
{% endblock %}
{% block main %}
<div id="tooplate_main"><span class="main_border main_border_t"></span><span class="main_border main_border_b"></span>

    <div class="product">
        <div class="col col_2 product_preview">
            <a rel="lightbox" href="/media/{{ product.image.url }}"><img src="{{product.image|media_folder_products}}"
                                                                         class="left" alt="{{product.name}}" /></a>
            <ul class="nobullet">
                <li><a rel="lightbox" href="/media/{{product.image.url}}"><img src="{{product.image|media_folder_products}}"
                                                                                 class="right" alt="{{product.name}}"/></a></li>
                <li><a rel="lightbox" href="/media/{{product.image.url}}"><img src="{{product.image|media_folder_products}}"
                                                                                 class="right" alt="{{product.name}}"/></a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="col col_2 product_detail">
            <h1>{{ product.name}}</h1>
            <p><em>{{product.short_desc}}</em></p>
            <p>{{product.description}}</p>
            <div class="clear h20"></div>
            <p class="price">${{product.price}}<span>Доступность: <strong> {% if product.quantity > 1 %} В наличии {% else %} Нет в наличии {% endif %}</strong></span></p>
            <div class="clear h20"></div>
            <p class="add_to_cart">На складе: <strong>{{product.quantity}}</strong></p>
            <a href="{% url 'basket:add' product.id %}" class="button left">Добавить в корзину</a>
        </div>
        <div class="clear"></div>
    </div>

    <hr/>

    <div class="product">
        <h2>Рекомендуемые товары</h2>
        {% for product in recommend_products %}
        <div class="product_box">
            <div class="img_box"><span></span>
                <a href="{% url 'products:productdetail' product.id %}"><img src="/media/{{product.image}}" alt="{{product.name}}"/></a>
            </div>
            <h2><a href="{% url 'products:productdetail' product.id %}">{{product.name|upper}}</a></h2>
            <p class="price">${{product.price}}</p>
        </div>
        {% endfor %}
    </div>


    <div class="clear"></div>
</div> <!-- END of main -->
{% endblock %}